:root {
  --color-principal1: #3e347b;
  --color-principal1-1: #9989ff;
  --color-principal1-2: #6051c0;
  --color-principal1-3: #0f0b27;
  --color-principal1-4: hsla(247, 52%, 25%, 0.2);

  --color-principal2: #b13c3c;
  --color-principal2-1: #ff7777;
  --color-principal2-2: #ff5555;
  --color-principal2-3: #4f1b1b;
  --color-principal2-4: hsla(0, 49%, 46%, 0.2);

  --color-principal3: #308d30;
  --color-principal3-1: #77ff77;
  --color-principal3-2: #48d648;
  --color-principal3-3: #163f16;
  --color-principal3-4: hsla(120, 49%, 37%, 0.2);

  --color-principal4: #b1983c;
  --color-principal4-1: #ffe377;
  --color-principal4-2: #ffdc55;
  --color-principal4-3: #4f441b;
  --color-principal4-4: hsla(47, 49%, 46%, 0.2);

  --color-claro: white;
  --color-none: rgba(255, 255, 255, 0);

  --color-fuente-oscuro: var(--color-principal3-3);
  --color-fuente-claro: var(--color-claro);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: var(--color-principal1-3);
  overflow: hidden;
}

/* header page */
.header {
  display: flex;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 15px #ddd;
  width: 100%;
  height: 60px;
  min-width: 320px;
  margin-bottom: 30px;
  background-color: var(--color-claro);
  background-color: #fffd;
  z-index: 1000;
  position: fixed;
  margin-bottom: 200px;
}
.header .logo {
  display: flex;
  margin: auto 15px;
  height: 50px;
  border: none;
  text-decoration: none;
  border: none;
}

.header .logo h3 {
  font-size: 20px;
  height: 25px;
  width: 190px;
  margin: auto;
  margin-left: 0px;
  color: #000;
  text-decoration: none;
  font-weight: bolder;
}
.header nav {
  flex: 1 1 auto;
  width: 100%;
  margin: auto 15px auto auto;
}
.header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: auto;
  /* margin-top: 15px; */
  margin-left: auto;
}

.drop ul .menu-desplegado button,
.header nav ul li button {
  font-size: 20px;
  text-decoration: none;
  margin: 15px 20px;
  transition: all 200ms;
  text-shadow: 0 0 1px var(--color-fuente-oscuro);
  border: none;
  background-color: #0000;

  /* font-weight: bolder; */
}
.drop ul .menu-desplegado button:hover,
.header nav ul li button:hover {
  color: var(--color-principal2);
}

/* menu drop desṕlegable */
.drop img {
  height: 20px;
  width: 30px;
}
.drop ul {
  padding: 0;
  margin: auto;
  margin-right: 2px;
  margin-bottom: 15px;
}
.drop ul .menu-boton {
  background-color: white;
  border: none;
}
.drop ul .menu-desplegado {
  border: none;
  background-color: white;
  border: 1px solid #eee;
  margin-top: 10px;
  margin-right: 0;
  padding-right: 0px;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-top: 10px;
}
.footer p {
  color: var(--color-claro);
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.footer .footer-redes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -2px 5px auto auto;
}
.footer .footer-redes a {
  color: var(--color-claro);
  margin: auto 7px;
}
.footer .footer-redes a:hover {
  color: var(--color-principal2);
}

/* inicio page */
.page {
  padding-top: 55px;
  width: 95%;
  min-height: 550px;
  margin: auto;
  margin-top: 70px;
  background-color: var(--color-none);
  color: var(--color-fuente-claro);
}
.inicio {
  display: flex;
  flex-wrap: wrap;
}
.inicio h1 {
  width: 100%;
  text-align: left;
  text-shadow: 0 0 5px #2c00004b;
  height: 5%;
  margin-top: 20px;
  margin-bottom: 25px;
  animation: toRight 1500ms 1;
  animation-fill-mode: forwards;
}
@keyframes toRight {
  0% {
    transform: translateX(-150px);
  }
  50% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(5vw);
  }
}
.inicio .conteiner-mask {
  width: 30%;
  min-width: 300px;
  margin: 0 auto;
}
.inicio .mask {
  margin: 5% auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--color-none);
  box-shadow: 0 0 30px var(--color-claro);
}
.inicio .mask img {
  object-fit: contain;
  width: 100%;
  margin-top: -10%;
}
.inicio .descripcion {
  margin: 0 auto;
  min-width: 70%;
  width: 70%;
  max-width: 100%;
  padding: 3% 1%;
}
.inicio .descripcion p {
  text-align: left;
}
.inicio .descripcion li {
  text-align: left;
}

/* curriculum page */
.contenedor-boton {
  display: inline;
  min-width: 300px;
  max-width: 40%;
  height: 80px;
  margin: 30px auto;
  padding: 15px 5px;
  border: 1px solid rgba(92, 88, 88, 0.76);
  border-radius: 15px;
  transition: all 300ms;
  box-shadow: 0 0 5px #bbb;
  overflow: hidden;
  background-color: var(--color-claro);
}
.contenedor-boton p {
  display: inline;
}
.contenedor-boton a {
  overflow: hidden;
  font-size: 25px;
  padding: 5px 10px;
  margin: auto 15px;
  text-decoration: none;
  transition: all 300ms;
  color: var(--color-principal1-2);
}
.contenedor-boton a:hover {
  /* color: var(--color-principal2-2); */
  font-weight: bold;
}
.contenedor-boton a img {
  height: 45px;
}
.visor-pdf {
  width: 90%;
  margin: 30px auto;
}

/* page de contacto */
.contact {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  margin: auto;
}
.contact .formulario {
  min-width: 400px;
  width: 40%;
  max-width: 100%;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 15px auto;
}
.contact .formulario input {
  margin: 5px auto;
  width: 90%;
  height: 50px;
}
.contact .formulario textarea {
  width: 90%;
  height: 150px;
}
.contacto {
  min-width: 400px;
  width: 50%;
  max-width: 100%;
  margin: auto;
}
.contacto a {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  margin: 30px -5px;
  overflow: hidden;
  text-decoration: none;
}
.contacto a .contenedor-p,
.contacto a .contenedor-logo {
  margin: auto 0;
  width: 50%;
  height: 70px;
  position: relative;
  color: var(--color-claro);
  filter: drop-shadow(0 0 2px var(--color-principal1-1));
}
.contacto a .contenedor-logo img {
  position: absolute;
  right: 10%;
  transition: all 800ms 20ms;
  height: 100%;
  margin: auto 0;
  object-fit: contain;
}
.contacto a .contenedor-p {
  display: flex;
}
.contacto a .contenedor-p p {
  color: var(--color-fuente-claro);
  height: 100;
  position: absolute;
  top: 40%;
  left: 100%;
  transition: all 500ms;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 0 0 3px #000;
  align-content: center;
  justify-content: center;
}
.contacto a:hover .contenedor-logo img {
  right: 30%;
}
.contacto a:hover .contenedor-p p {
  left: -10%;
}

.formulario .enviar {
  background-color: var(--color-principal3);
  color: var(--color-claro);
  border: 0;
  border-radius: 5px;
}
.formulario .enviar:hover {
  transition: all 200ms;
  box-shadow: 0 0 5px var(--color-principal3-2);
  font-weight: bold;
}

/* slider */
.slider {
  width: 150%;
  height: auto;
  margin: auto;
  margin-top: 70px;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
  height: 200px;
}
.slider .slide {
  width: 200px;
  margin: auto 25px;
  display: flex;
  flex-direction: column;
}
.slider .slide .slide-img {
  height: 130px;
}
.slider .slide .slide-img img {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100%;
  filter: drop-shadow(0 0 2px var(--color-principal1-1));
  border-radius: 5%;
}
.slider .slide p {
  margin: auto;
}

@keyframes scroll {
  0% {
    -webkit-animation: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-animation: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}

/* portafolio con proyectos */

.portafolio {
  width: 100%;
}

.flex {
  display: flex;
}

.contenedor-proyecto {
  width: 100%;
  padding: 5%;
}

.contenedor-proyecto-izq {
  flex-direction: row;
  background-color: var(--color-principal1-4);
}
.contenedor-proyecto-der {
  flex-direction: row-reverse;
}

.contenedor-imagen {
  width: 80%;
  align-content: center;
  min-width: 300px;
}

.contenedor-imagen video {
  width: 90%;
  border-radius: 10px;
}
.contenedor-descripcion {
  min-width: 300px;
  align-content: center;
  width: 80%;
  padding-top: 3%;
}

/* responcive */
/* --------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
  .contenedor-proyecto {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 500px) {
  .contacto a .contenedor-p p {
    top: 10%;
    width: 90%;
    font-size: 15px;
  }
  .contacto a:hover .contenedor-logo img {
    right: 20%;
  }
  .contacto a:hover .contenedor-p p {
    left: -10%;
  }
}
@media screen and (max-width: 350px) {
}
/* ------------------------------------------------------------------------------------------------------------ */
